# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Node
node_modules/
dist/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Uploads / quarantine
uploads/
quarantine/

# Minecraft Server Itself
backend/opt/minecraft

# Backups
backups/

backend/.env
backend/.env
